body
{
	color:#333333;
	background:#888888;
    font-family: sans-serif,arial,verdana;
    font-size: 9pt;
}

#menuDiv
{
    width:100%;
} 

.container
{
    margin:auto;
    margin-top:40px;
    width:960px;
    min-height:570px;
    display:block;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    height:auto;
    float: center;
    align: center;
    text-align: left;
}

.body .panel
{
    font:11px "Trebuchet MS", Arial, sans-serif;
    float:right;
    background: none repeat scroll 0 0 #FAFAFA;
    display: inline-block;
    position: relative;
    width: 230px;
    min-height:570px;
    height: 100%;
    z-index:4;
    border:0px solid;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    padding: 4px;
    padding-left: 12px;
    height:auto;
}

.body .content
{
    padding: 20px;
}

.container .header
{
    background: #b0b0b0;
    height:97px;
}

.container .body
{
    
}

input, textarea
{
    border-radius: 3px 3px 3px 3px;
}

.clear
{
    clear:both;
}

.title
{
    font-family: sans-serif,arial,verdana;
    color: #FFFFFF;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 19pt;
    color: #FFF;
    display: block;
    background: #CFCFCF;
    text-shadow: 1px 2px 2px #4C4C4C;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
}


.navbar {
  *position: relative;
  *z-index: 2;
  overflow: visible;
  color: #777777;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .btn,
.navbar .btn-group {
  margin-top: 3px;
}